{% extends 'orders/layout.html' %}
{% load static %}

{% block headTitle %}
    Contact
{% endblock %}

{% block body %}
    <div class="container">
        <article class="padding-2 ">
            <h2 class="cart-title">Contact Us</h2>
            <hr>
            <div class="grid-td">
                <div>
                    <h3 class="cart-title">Store Hours</h3>
                    <div class="text-center">
                        <p>Sunday: 1 pm - 12 midnight</p>
                        <p>Monday - Thursday: 11 am - 1 am</p>
                        <p>Friday - Saturday: 11 am - 2:30 am</p>
                    </div>
                    <hr>
                    <h3 class="cart-title">Follow Us on Social Media</h3>
                    <div class="text-center">
                        <a><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        <a><i class="fa fa-snapchat" aria-hidden="true"></i></a>
                    </div>
                    <hr>
                </div>
                <div class="about-img">
                    <a href="https://www.google.com/maps/place/74+Winthrop+St,+Cambridge,+MA+02138/@42.3719941,-71.1225542,17z/data=!3m1!4b1!4m5!3m4!1s0x89e3775d51d69b07:0xa4d76bff98604ad5!8m2!3d42.3719941!4d-71.1203655">
                        <img src="{% static  'orders/img/map.png' %}" alt="story-img">
                    </a>
                </div>
            </div>
        </article>
    </div>
{% endblock %}