{% extends 'orders/layout.html' %}
{% load static %}

{% block headTitle %}
    Order Detail
{% endblock %}

{% block body %}
    <div class="container">
        {% for product in orders.orderProduct.all %}
            <div class="cart-items order-history-items">
                <div class="text-center">
                    <img src="{{ product.product.img_url }}" alt="product-img"
                         class="cart-items-img">
                </div>
                <div>
                    <a class="product-tittle-link" href="{% url 'detail' product.product.id %}">
                        <h4>{{ product.product.category }}: {{ product.product.name }}</h4></a>
                    <h5>Size: {{ product.size }}</h5>
                    <h5>Quantity: {{ product.quantity }}</h5>
                    <h5>Price: ${{ product.get_price }}</h5>
                    {% if product.toppings.all %}
                        <p class="cart-extra">Topping(s):&#160;</p>
                        {% for t in product.toppings.all %}
                            <p class="cart-extra">{{ t }}&#160;</p>
                        {% endfor %}
                    {% endif %}
                    {% if product.additional.all %}
                        <p class="cart-extra">Extra:&#160;</p>
                        {% for a in product.additional.all %}
                            <p class="cart-extra">{{ a }}&#160;</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="cart-total padding-2">
            <h5>Total Date: {{ orders.orderTime }}</h5>
            <h5>Total Items: <strong>{{ orders.total_item }}</strong></h5>
            <h5>Order Total: <strong>${{ orders.total_price }}</strong></h5>
            <a class="cart-btn" href="{% url 'order_history' %}">Back to History</a>
            <a class="cart-btn" href="{% url 'menu' %}">Back to menu</a>
        </div>
    </div>

{% endblock %}