{% extends 'orders/layout.html' %}
{% load static %}

{% block headTitle %}
    Order History
{% endblock %}

{% block body %}
    <div class="container">
        {% if orders %}
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">&#160;</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order.orderTime }}</td>
                        <td>${{ order.total_price }}</td>
                        {% if order.finished %}
                            <td>Finished</td>
                            {% else %}
                            <td>Waiting for pickup</td>
                        {% endif %}
                        <td><a href="{% url 'order_history_detail' order.id %}">Order Details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="cart-empty padding-2">
                <h5>Your order history is empty...</h5>
                <a class="cart-btn margin-top1 margin-rl-auto" href="{% url 'menu' %}">View menu</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
