{% extends 'orders/layout.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block headTitle %}
    Sign In
{% endblock %}

{% block body %}
    <div class="container form-container">
        <h2 class="cart-title">Sign In</h2>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'signup' %}">Need an account?</a>
                <div class="form-btn-group">
                    <button class="banner-btn form-btn" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
